#history {
  margin-top: 30px;
}

.ongoing-p {
  width: 100%;
  margin: 30px auto;
}

.ongoing-p-head {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}
.ongoing-p-head p {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.ongoing-p-head h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}

.pro-1 {
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 0 3px 6px black;
  border: 20px 0 20px 0;
}

.pro-text {
  width: 30%;
  margin-left: 15px;
}

.pro-text h2,
h6 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}

.pro-text p {
  font-size: 21px;
  font-family: "Times New Roman", Times, serif;
}

.pro-img {
  width: 70%;
  margin: auto;
}

.pro-img img {
  width: 100%;
}

@media screen and (max-width: 400px) {
  .pro-1 {
    display: block;
  }

  .pro-text {
    width: 100%;
    margin: auto;
    padding: 5px;
    text-align: center;
  }

  .pro-img {
    width: 100%;
  }
}
