{% load static %}
<!-- loading -->
{% block style %}
<link rel="stylesheet" href="{% static 'bootstrap/csss/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/carousel.css' %}" />
{% endblock %}
<div
  id="carouselExampleCaptions"
  class="carousel slide my-style bg-success"
  data-bs-ride="carousel"
  style="z-index:-1;"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    >
      1
    </button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    >
      2
    </button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>

    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>

    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="4"
      aria-label="Slide 5"
    ></button>
  </div>
  <div class="carousel-inner w-100">
    <div class="carousel-item active w-100">
      <img src="{% static 'images/sisters.JPG' %}" class="d-block" alt="..." />
      <div class="carousel-caption d-none d-md-block bg-success">
        <p>St. Joseph the Worker</p>
      </div>
    </div>
    <div class="carousel-item w-100">
      <img
        src="{% static 'images/children1.JPG' %}"
        class="d-block"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block bg-success">
        <p>Children celebrating their day at the parish</p>
      </div>
    </div>
    <div class="carousel-item w-100">
      <img src="{% static 'images/choir2.JPG' %}" class="d-block" alt="..." />
      <div class="carousel-caption d-none d-md-block bg-success">
        <p>Cross section of Choiristers during mass</p>
      </div>
    </div>

    <div class="carousel-item w-100">
      <img src="{% static 'images/choir.JPG' %}" class="d-block" alt="..." />
      <div class="carousel-caption d-none d-md-block bg-success">
        <p>ArchBishop of Abuja Archdiocese</p>
      </div>
    </div>

    <div class="carousel-item w-100">
      <img
        src="{% static 'images/parishioners.JPG' %}"
        class="d-block"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block bg-success">
        <p>Cross section of Parishioners during mass</p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span
      class="carousel-control-prev-icon bg-success"
      aria-hidden="true"
    ></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span
      class="carousel-control-next-icon bg-success"
      aria-hidden="true"
    ></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<script src="{% static 'bootstrap/jss/bootstrap.bundle.min.js' %}"></script>
