{% extends 'layout.html' %} {% load static %}

<!-- loading static -->
{% block title %}
<title>Login Page</title>
{% endblock %}
<!-- title -->
{% block extrastyle %}

<link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}

<!-- welcome block -->
{% block welcome %} Login {% endblock %}

<!-- welcome-alt -->
{% block welcome-alt %} Login {% endblock %}
<!-- events block -->
{% block events %} {% endblock %}

<!-- begining content -->
{% block content %}
 <div class="container" style="width: 90%; margin:auto 20px;">
<form method="post">
  <h1 class="text-success">Login</h1>
  {% csrf_token %}
  <!-- form from context data -->
  {{login_form.as_p}}

  <div class="form-group">
    <input class="btn btn-success w-25 " type="submit" value="Login" />
  </div>
</form>
<p class="">Forgot your password <a href="{%url 'account:password_reset'%}">Reset Password</a></p>
</div>

{% endblock %}
